gtd-etl/.DS_Store
gtd-etl/__pycache__/.DS_Store
gtd-etl/__pycache__/cleanfiles.cpython-311.pyc
gtd-etl/__pycache__/mondongo.cpython-311.pyc
gtd-etl/__pycache__/cleanfiles.cpython-311.pyc
gtd-etl/__pycache__/mondongo.cpython-311.pyc
